In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
import re
sns.set(style='ticks', palette='RdBu')
#sns.set(style='ticks', palette='Set2')
import datetime
import pytz
%matplotlib inline
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [2]:
data = pd.read_excel(r'C:\Users\USER\Documents\Alex\john\notebook\notebook dara&results\workshop performance result.xlsx',sheet_name='SUMMARY')
data2 = pd.read_excel(r"C:\Users\USER\Documents\Alex\john\notebook\notebook dara&results\test.xlsx")
capacity =  pd.read_excel(r"C:\Users\USER\Documents\Alex\john\notebook\notebook dara&results\capacity.xlsx",sheet_name='capacity')
count =  pd.read_excel(r"C:\Users\USER\Documents\Alex\john\notebook\notebook dara&results\capacity.xlsx",sheet_name='maurice count')

### Column pending

In [3]:
penlocal = int(input('Pending local: '))
penoverseas= int(input('Pending Overseas? '))

Pending local: 31
Pending Overseas? 0

### data2

In [4]:
data2['Pending at Final QC']= ''
data2['Pending local']= penlocal
data2['Pending Overseas']= penoverseas
data2

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0

In [5]:
data

           Hour  local_x  oversees_x  local_y  oversees_y  Damage/Rejected
0            09       37           5       31           0                1
1            10       74           0       53           3                1
2            11       52           0       72           1                0
3            12       45           0       44           1                2
4            13       51           1       51           1                1
5            14       51           0       53           0                0
6            15       41           0       57           0                2
7            16       36           0       30           0                0
8            17       75           0       64           0                1
9            18        3           0        2           0                0
10  Grand Total      465           6      457           6                8

In [6]:
data['local_x'] = np.where(data['local_x']== '',0.0,data['local_x'])
data['oversees_x'] = np.where(data['oversees_x']== '',0.0,data['oversees_x'])
data['local_y'] = np.where(data['local_y']== '',0.0,data['local_y'])
data['oversees_y'] = np.where(data['oversees_y']== '',0.0,data['oversees_y'])
data['Damage/Rejected'] = np.where(data['Damage/Rejected']== '',0.0,data['Damage/Rejected'])
data

           Hour  local_x  oversees_x  local_y  oversees_y  Damage/Rejected
0            09     37.0         5.0     31.0         0.0              1.0
1            10     74.0         0.0     53.0         3.0              1.0
2            11     52.0         0.0     72.0         1.0              0.0
3            12     45.0         0.0     44.0         1.0              2.0
4            13     51.0         1.0     51.0         1.0              1.0
5            14     51.0         0.0     53.0         0.0              0.0
6            15     41.0         0.0     57.0         0.0              2.0
7            16     36.0         0.0     30.0         0.0              0.0
8            17     75.0         0.0     64.0         0.0              1.0
9            18      3.0         0.0      2.0         0.0              0.0
10  Grand Total    465.0         6.0    457.0         6.0              8.0

In [7]:
data1 = pd.merge(data2,data,how='outer')
data1

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas
0,Time,NaN,NaN,NaN,NaN,NaN,,31.0,0.0
1,09,37.0,5.0,31.0,0.0,1.0,NaN,NaN,NaN
2,10,74.0,0.0,53.0,3.0,1.0,NaN,NaN,NaN
3,11,52.0,0.0,72.0,1.0,0.0,NaN,NaN,NaN
4,12,45.0,0.0,44.0,1.0,2.0,NaN,NaN,NaN
5,13,51.0,1.0,51.0,1.0,1.0,NaN,NaN,NaN
6,14,51.0,0.0,53.0,0.0,0.0,NaN,NaN,NaN
7,15,41.0,0.0,57.0,0.0,2.0,NaN,NaN,NaN
8,16,36.0,0.0,30.0,0.0,0.0,NaN,NaN,NaN
9,17,75.0,0.0,64.0,0.0,1.0,NaN,NaN,NaN
10,18,3.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,NaN,NaN

In [8]:
x = data.iloc[0,0]
x

'09'

In [9]:
data1

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas
0,Time,NaN,NaN,NaN,NaN,NaN,,31.0,0.0
1,09,37.0,5.0,31.0,0.0,1.0,NaN,NaN,NaN
2,10,74.0,0.0,53.0,3.0,1.0,NaN,NaN,NaN
3,11,52.0,0.0,72.0,1.0,0.0,NaN,NaN,NaN
4,12,45.0,0.0,44.0,1.0,2.0,NaN,NaN,NaN
5,13,51.0,1.0,51.0,1.0,1.0,NaN,NaN,NaN
6,14,51.0,0.0,53.0,0.0,0.0,NaN,NaN,NaN
7,15,41.0,0.0,57.0,0.0,2.0,NaN,NaN,NaN
8,16,36.0,0.0,30.0,0.0,0.0,NaN,NaN,NaN
9,17,75.0,0.0,64.0,0.0,1.0,NaN,NaN,NaN
10,18,3.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,NaN,NaN

In [10]:
datax=data1

In [11]:
#w=localin   w2=overseas in          y=local out y2=overseas out
w = datax.iloc[1,1].astype(int)
w2 = datax.iloc[1,2].astype(int)
y = datax.iloc[1,3].astype(int)
y2 = datax.iloc[1,4].astype(int)
y2

0

In [12]:
pen1local = (penlocal + w-y)
pen1overseas= (penoverseas + w2-y2)

In [13]:
datax1 = datax

In [14]:
datax['Pending local'] = np.where(datax['Hour']==x,pen1local.astype(float),'null' )
datax['Pending Overseas'] = np.where(datax['Hour']==x,pen1overseas.astype(float),'null' )
datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas
0,Time,NaN,NaN,NaN,NaN,NaN,,null,null
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,null,null
3,11,52.0,0.0,72.0,1.0,0.0,NaN,null,null
4,12,45.0,0.0,44.0,1.0,2.0,NaN,null,null
5,13,51.0,1.0,51.0,1.0,1.0,NaN,null,null
6,14,51.0,0.0,53.0,0.0,0.0,NaN,null,null
7,15,41.0,0.0,57.0,0.0,2.0,NaN,null,null
8,16,36.0,0.0,30.0,0.0,0.0,NaN,null,null
9,17,75.0,0.0,64.0,0.0,1.0,NaN,null,null
10,18,3.0,0.0,2.0,0.0,0.0,NaN,null,null
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,null,null

In [15]:
datax['Pending local'] = np.where(datax['Hour']=='Time',penlocal, datax['Pending local'] )
datax['Pending Overseas'] = np.where(datax['Hour']=='Time',penoverseas, datax['Pending Overseas'] )
datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,null,null
3,11,52.0,0.0,72.0,1.0,0.0,NaN,null,null
4,12,45.0,0.0,44.0,1.0,2.0,NaN,null,null
5,13,51.0,1.0,51.0,1.0,1.0,NaN,null,null
6,14,51.0,0.0,53.0,0.0,0.0,NaN,null,null
7,15,41.0,0.0,57.0,0.0,2.0,NaN,null,null
8,16,36.0,0.0,30.0,0.0,0.0,NaN,null,null
9,17,75.0,0.0,64.0,0.0,1.0,NaN,null,null
10,18,3.0,0.0,2.0,0.0,0.0,NaN,null,null
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,null,null

In [16]:
df = datax

In [17]:
for index, row in df.iterrows():
    print(row['local_x'])

nan
37.0
74.0
52.0
45.0
51.0
51.0
41.0
36.0
75.0
3.0
465.0

In [18]:
for ind in df.index[1:]:
    print(ind)

1
2
3
4
5
6
7
8
9
10
11

In [19]:
for ind in df.index[1:]:
    base = df['Pending local'][ind -1]
    add = df['local_x'][ind]
    subtract = df['local_y'][ind]
    df.loc[ind,'Pending local'] = base + add - subtract

In [20]:
df

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,null
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,null
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,null
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,null
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,null
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,null
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,null
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,null
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,null
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,null

In [21]:
for index, row in df.iterrows():
    print(row['oversees_x'])

nan
5.0
0.0
0.0
0.0
1.0
0.0
0.0
0.0
0.0
0.0
6.0

In [22]:
for ind in df.index[1:]:
    print(ind)

1
2
3
4
5
6
7
8
9
10
11

In [23]:
for ind in df.index[1:]:
    base = df['Pending Overseas'][ind -1]
    add = df['oversees_x'][ind]
    subtract = df['oversees_y'][ind]
    df.loc[ind,'Pending Overseas'] = base + add - subtract

In [24]:
datax = df
datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0

In [25]:
datax['Total Jobs Pending in W/S'] = datax['Pending local'] + datax['Pending Overseas']
datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0

In [26]:
datax1 = datax
datax1['Hour'].astype(str)

0            Time
1              09
2              10
3              11
4              12
5              13
6              14
7              15
8              16
9              17
10             18
11    Grand Total
Name: Hour, dtype: object

In [27]:
datax = pd.merge(datax,count,on='Hour', how='left')
datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31,NaN
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0,45.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0,74.0
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0,59.0
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0,44.0
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0,54.0
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0,51.0
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0,49.0
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0,31.0
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0,59.0
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0,0.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0,466.0

### capacity

In [28]:
datax['Capacity'] = ''
datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31,NaN,
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0,45.0,
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0,74.0,
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0,59.0,
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0,44.0,
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0,54.0,
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0,51.0,
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0,49.0,
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0,31.0,
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0,59.0,
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0,0.0,
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0,466.0,

In [29]:

datax['capacity1'] = ''
datax['capacity2'] = ''
datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,capacity1,capacity2
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31,NaN,,,
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0,45.0,,,
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0,74.0,,,
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0,59.0,,,
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0,44.0,,,
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0,54.0,,,
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0,51.0,,,
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0,49.0,,,
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0,31.0,,,
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0,59.0,,,
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0,0.0,,,
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0,466.0,,,

In [30]:
datax1 = pd.merge(datax1,capacity,on='Hour', how='left')
datax1

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Capacity_input
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31,NaN
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0,51.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0,93.0
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0,93.0
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0,77.0
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0,80.0
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0,77.0
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0,73.0
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0,73.0
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0,93.0
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0,0.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0,710.0

### Capacity

#### local

In [31]:
for index, row in datax.iterrows():
    print(row['local_x'])

nan
37.0
74.0
52.0
45.0
51.0
51.0
41.0
36.0
75.0
3.0
465.0

In [32]:
for ind in datax.index[1:]:
    print(ind)

1
2
3
4
5
6
7
8
9
10
11

In [33]:
for ind in datax.index[1:]:
    base = datax['Pending local'][ind -1]
    add = datax['local_x'][ind]
    datax.loc[ind,'capacity1'] = base + add 
    
datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,capacity1,capacity2
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31,NaN,,,
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0,45.0,,68.0,
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0,74.0,,111.0,
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0,59.0,,110.0,
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0,44.0,,83.0,
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0,54.0,,90.0,
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0,51.0,,90.0,
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0,49.0,,78.0,
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0,31.0,,57.0,
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0,59.0,,102.0,
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0,0.0,,41.0,
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0,466.0,,504.0,

#### overseas

In [34]:
for index, row in datax.iterrows():
    print(row['oversees_x'])

nan
5.0
0.0
0.0
0.0
1.0
0.0
0.0
0.0
0.0
0.0
6.0

In [35]:
for ind in datax.index[1:]:
    print(ind)

1
2
3
4
5
6
7
8
9
10
11

In [36]:
for ind in datax.index[1:]:
    base = datax['Pending Overseas'][ind -1]
    add = datax['oversees_x'][ind]
    datax.loc[ind,'capacity2'] = base + add 
    
datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,capacity1,capacity2
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31,NaN,,,
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0,45.0,,68.0,5.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0,74.0,,111.0,5.0
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0,59.0,,110.0,2.0
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0,44.0,,83.0,1.0
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0,54.0,,90.0,1.0
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0,51.0,,90.0,0.0
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0,49.0,,78.0,0.0
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0,31.0,,57.0,0.0
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0,59.0,,102.0,0.0
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0,0.0,,41.0,0.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0,466.0,,504.0,6.0

In [37]:
datax['capacity total'] = datax['capacity1']+datax['capacity2']
datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,capacity1,capacity2,capacity total
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31,NaN,,,,
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0,45.0,,68.0,5.0,73.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0,74.0,,111.0,5.0,116.0
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0,59.0,,110.0,2.0,112.0
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0,44.0,,83.0,1.0,84.0
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0,54.0,,90.0,1.0,91.0
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0,51.0,,90.0,0.0,90.0
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0,49.0,,78.0,0.0,78.0
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0,31.0,,57.0,0.0,57.0
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0,59.0,,102.0,0.0,102.0
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0,0.0,,41.0,0.0,41.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0,466.0,,504.0,6.0,510.0

#### Capacity

In [38]:
capacity

#creating an extra column

# for inc in datax['Hour']:
#     print (inc)

           Hour  Capacity_input
0            09              51
1            10              93
2            11              93
3            12              77
4            13              80
5            14              77
6            15              73
7            16              73
8            17              93
9            18               0
10  Grand Total             710

In [39]:
datax1 = datax
datax1 = pd.merge(datax1,capacity, on='Hour',how='left')
datax1

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,capacity1,capacity2,capacity total,Capacity_input
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31,NaN,,,,,NaN
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0,45.0,,68.0,5.0,73.0,51.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0,74.0,,111.0,5.0,116.0,93.0
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0,59.0,,110.0,2.0,112.0,93.0
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0,44.0,,83.0,1.0,84.0,77.0
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0,54.0,,90.0,1.0,91.0,80.0
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0,51.0,,90.0,0.0,90.0,77.0
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0,49.0,,78.0,0.0,78.0,73.0
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0,31.0,,57.0,0.0,57.0,73.0
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0,59.0,,102.0,0.0,102.0,93.0
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0,0.0,,41.0,0.0,41.0,0.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0,466.0,,504.0,6.0,510.0,710.0

In [40]:
datax1['Capacity_input'] = np.where(datax1['Capacity_input'] == '',0, datax1['Capacity_input'])
datax1['Capacity_input'] = datax1['Capacity_input'].astype(float)
datax1

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,capacity1,capacity2,capacity total,Capacity_input
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31,NaN,,,,,NaN
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0,45.0,,68.0,5.0,73.0,51.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0,74.0,,111.0,5.0,116.0,93.0
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0,59.0,,110.0,2.0,112.0,93.0
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0,44.0,,83.0,1.0,84.0,77.0
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0,54.0,,90.0,1.0,91.0,80.0
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0,51.0,,90.0,0.0,90.0,77.0
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0,49.0,,78.0,0.0,78.0,73.0
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0,31.0,,57.0,0.0,57.0,73.0
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0,59.0,,102.0,0.0,102.0,93.0
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0,0.0,,41.0,0.0,41.0,0.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0,466.0,,504.0,6.0,510.0,710.0

In [41]:
datax1['capacity total'] = np.where(datax1['capacity total'] == '',0, datax1['capacity total'])
datax1['capacity total'] = datax1['capacity total'].astype(float)
datax1

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,capacity1,capacity2,capacity total,Capacity_input
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31,NaN,,,,0.0,NaN
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0,45.0,,68.0,5.0,73.0,51.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0,74.0,,111.0,5.0,116.0,93.0
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0,59.0,,110.0,2.0,112.0,93.0
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0,44.0,,83.0,1.0,84.0,77.0
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0,54.0,,90.0,1.0,91.0,80.0
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0,51.0,,90.0,0.0,90.0,77.0
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0,49.0,,78.0,0.0,78.0,73.0
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0,31.0,,57.0,0.0,57.0,73.0
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0,59.0,,102.0,0.0,102.0,93.0
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0,0.0,,41.0,0.0,41.0,0.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0,466.0,,504.0,6.0,510.0,710.0

In [42]:
datax1['Capacity'] = np.where(datax1['capacity total'] < datax1['Capacity_input'] ,datax1['capacity total'] , datax1['Capacity_input'])
datax1

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,capacity1,capacity2,capacity total,Capacity_input
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31,NaN,NaN,,,0.0,NaN
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0,45.0,51.0,68.0,5.0,73.0,51.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0,74.0,93.0,111.0,5.0,116.0,93.0
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0,59.0,93.0,110.0,2.0,112.0,93.0
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0,44.0,77.0,83.0,1.0,84.0,77.0
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0,54.0,80.0,90.0,1.0,91.0,80.0
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0,51.0,77.0,90.0,0.0,90.0,77.0
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0,49.0,73.0,78.0,0.0,78.0,73.0
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0,31.0,57.0,57.0,0.0,57.0,73.0
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0,59.0,93.0,102.0,0.0,102.0,93.0
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0,0.0,0.0,41.0,0.0,41.0,0.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0,466.0,510.0,504.0,6.0,510.0,710.0

In [43]:
datax1['Capacity'] = np.where(datax1['Capacity'] == '',0, datax1['Capacity'])
datax1['Capacity'] = datax1['Capacity'].astype(float)
datax1

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,capacity1,capacity2,capacity total,Capacity_input
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31,NaN,NaN,,,0.0,NaN
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0,45.0,51.0,68.0,5.0,73.0,51.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0,74.0,93.0,111.0,5.0,116.0,93.0
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0,59.0,93.0,110.0,2.0,112.0,93.0
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0,44.0,77.0,83.0,1.0,84.0,77.0
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0,54.0,80.0,90.0,1.0,91.0,80.0
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0,51.0,77.0,90.0,0.0,90.0,77.0
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0,49.0,73.0,78.0,0.0,78.0,73.0
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0,31.0,57.0,57.0,0.0,57.0,73.0
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0,59.0,93.0,102.0,0.0,102.0,93.0
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0,0.0,0.0,41.0,0.0,41.0,0.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0,466.0,510.0,504.0,6.0,510.0,710.0

In [44]:
datax = datax1

### Pending at final qc

In [45]:
datax1

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,capacity1,capacity2,capacity total,Capacity_input
0,Time,NaN,NaN,NaN,NaN,NaN,,31,0,31,NaN,NaN,,,0.0,NaN
1,09,37.0,5.0,31.0,0.0,1.0,NaN,37.0,5.0,42.0,45.0,51.0,68.0,5.0,73.0,51.0
2,10,74.0,0.0,53.0,3.0,1.0,NaN,58.0,2.0,60.0,74.0,93.0,111.0,5.0,116.0,93.0
3,11,52.0,0.0,72.0,1.0,0.0,NaN,38.0,1.0,39.0,59.0,93.0,110.0,2.0,112.0,93.0
4,12,45.0,0.0,44.0,1.0,2.0,NaN,39.0,0.0,39.0,44.0,77.0,83.0,1.0,84.0,77.0
5,13,51.0,1.0,51.0,1.0,1.0,NaN,39.0,0.0,39.0,54.0,80.0,90.0,1.0,91.0,80.0
6,14,51.0,0.0,53.0,0.0,0.0,NaN,37.0,0.0,37.0,51.0,77.0,90.0,0.0,90.0,77.0
7,15,41.0,0.0,57.0,0.0,2.0,NaN,21.0,0.0,21.0,49.0,73.0,78.0,0.0,78.0,73.0
8,16,36.0,0.0,30.0,0.0,0.0,NaN,27.0,0.0,27.0,31.0,57.0,57.0,0.0,57.0,73.0
9,17,75.0,0.0,64.0,0.0,1.0,NaN,38.0,0.0,38.0,59.0,93.0,102.0,0.0,102.0,93.0
10,18,3.0,0.0,2.0,0.0,0.0,NaN,39.0,0.0,39.0,0.0,0.0,41.0,0.0,41.0,0.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,NaN,47.0,0.0,47.0,466.0,510.0,504.0,6.0,510.0,710.0

In [46]:
datax1['Pending at Final QC'] = datax1['Maurice count'] -(datax1['local_y']+datax1['oversees_y'])
datax1

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,capacity1,capacity2,capacity total,Capacity_input
0,Time,NaN,NaN,NaN,NaN,NaN,NaN,31,0,31,NaN,NaN,,,0.0,NaN
1,09,37.0,5.0,31.0,0.0,1.0,14.0,37.0,5.0,42.0,45.0,51.0,68.0,5.0,73.0,51.0
2,10,74.0,0.0,53.0,3.0,1.0,18.0,58.0,2.0,60.0,74.0,93.0,111.0,5.0,116.0,93.0
3,11,52.0,0.0,72.0,1.0,0.0,-14.0,38.0,1.0,39.0,59.0,93.0,110.0,2.0,112.0,93.0
4,12,45.0,0.0,44.0,1.0,2.0,-1.0,39.0,0.0,39.0,44.0,77.0,83.0,1.0,84.0,77.0
5,13,51.0,1.0,51.0,1.0,1.0,2.0,39.0,0.0,39.0,54.0,80.0,90.0,1.0,91.0,80.0
6,14,51.0,0.0,53.0,0.0,0.0,-2.0,37.0,0.0,37.0,51.0,77.0,90.0,0.0,90.0,77.0
7,15,41.0,0.0,57.0,0.0,2.0,-8.0,21.0,0.0,21.0,49.0,73.0,78.0,0.0,78.0,73.0
8,16,36.0,0.0,30.0,0.0,0.0,1.0,27.0,0.0,27.0,31.0,57.0,57.0,0.0,57.0,73.0
9,17,75.0,0.0,64.0,0.0,1.0,-5.0,38.0,0.0,38.0,59.0,93.0,102.0,0.0,102.0,93.0
10,18,3.0,0.0,2.0,0.0,0.0,-2.0,39.0,0.0,39.0,0.0,0.0,41.0,0.0,41.0,0.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,3.0,47.0,0.0,47.0,466.0,510.0,504.0,6.0,510.0,710.0

In [47]:
datax1['Pending at Final QC'] = np.where(datax1['Pending at Final QC']<0,0,datax1['Pending at Final QC'] )
datax1

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,capacity1,capacity2,capacity total,Capacity_input
0,Time,NaN,NaN,NaN,NaN,NaN,NaN,31,0,31,NaN,NaN,,,0.0,NaN
1,09,37.0,5.0,31.0,0.0,1.0,14.0,37.0,5.0,42.0,45.0,51.0,68.0,5.0,73.0,51.0
2,10,74.0,0.0,53.0,3.0,1.0,18.0,58.0,2.0,60.0,74.0,93.0,111.0,5.0,116.0,93.0
3,11,52.0,0.0,72.0,1.0,0.0,0.0,38.0,1.0,39.0,59.0,93.0,110.0,2.0,112.0,93.0
4,12,45.0,0.0,44.0,1.0,2.0,0.0,39.0,0.0,39.0,44.0,77.0,83.0,1.0,84.0,77.0
5,13,51.0,1.0,51.0,1.0,1.0,2.0,39.0,0.0,39.0,54.0,80.0,90.0,1.0,91.0,80.0
6,14,51.0,0.0,53.0,0.0,0.0,0.0,37.0,0.0,37.0,51.0,77.0,90.0,0.0,90.0,77.0
7,15,41.0,0.0,57.0,0.0,2.0,0.0,21.0,0.0,21.0,49.0,73.0,78.0,0.0,78.0,73.0
8,16,36.0,0.0,30.0,0.0,0.0,1.0,27.0,0.0,27.0,31.0,57.0,57.0,0.0,57.0,73.0
9,17,75.0,0.0,64.0,0.0,1.0,0.0,38.0,0.0,38.0,59.0,93.0,102.0,0.0,102.0,93.0
10,18,3.0,0.0,2.0,0.0,0.0,0.0,39.0,0.0,39.0,0.0,0.0,41.0,0.0,41.0,0.0
11,Grand Total,465.0,6.0,457.0,6.0,8.0,3.0,47.0,0.0,47.0,466.0,510.0,504.0,6.0,510.0,710.0

In [48]:
datax['% of capacity Achieved'] = (datax['local_y']+datax['oversees_y']+datax['Damage/Rejected'])/datax['Capacity']


datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,capacity1,capacity2,capacity total,Capacity_input,% of capacity Achieved
0,Time,NaN,NaN,NaN,NaN,NaN,NaN,31,0,31,NaN,NaN,,,0.0,NaN,NaN
1,09,37.0,5.0,31.0,0.0,1.0,14.0,37.0,5.0,42.0,45.0,51.0,68.0,5.0,73.0,51.0,0.627451
2,10,74.0,0.0,53.0,3.0,1.0,18.0,58.0,2.0,60.0,74.0,93.0,111.0,5.0,116.0,93.0,0.612903
3,11,52.0,0.0,72.0,1.0,0.0,0.0,38.0,1.0,39.0,59.0,93.0,110.0,2.0,112.0,93.0,0.784946
4,12,45.0,0.0,44.0,1.0,2.0,0.0,39.0,0.0,39.0,44.0,77.0,83.0,1.0,84.0,77.0,0.610390
5,13,51.0,1.0,51.0,1.0,1.0,2.0,39.0,0.0,39.0,54.0,80.0,90.0,1.0,91.0,80.0,0.662500
6,14,51.0,0.0,53.0,0.0,0.0,0.0,37.0,0.0,37.0,51.0,77.0,90.0,0.0,90.0,77.0,0.688312
7,15,41.0,0.0,57.0,0.0,2.0,0.0,21.0,0.0,21.0,49.0,73.0,78.0,0.0,78.0,73.0,0.808219
8,16,36.0,0.0,30.0,0.0,0.0,1.0,27.0,0.0,27.0,31.0,57.0,57.0,0.0,57.0,73.0,0.526316
9,17,75.0,0.0,64.0,0.0,1.0,0.0,38.0,0.0,38.0,59.0,93.0,102.0,0.0,102.0,93.0,0.698925
10,18,3.0,0.0,2.0,0.0,0.0,0.0,39.0,0.0,39.0,0.0,0.0,41.0,0.0,41.0,0.0,inf
11,Grand Total,465.0,6.0,457.0,6.0,8.0,3.0,47.0,0.0,47.0,466.0,510.0,504.0,6.0,510.0,710.0,0.923529

### Dropping Columns

In [49]:
datax = datax.drop(columns={'capacity1','capacity2','capacity total','Capacity_input'})
datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,% of capacity Achieved
0,Time,NaN,NaN,NaN,NaN,NaN,NaN,31,0,31,NaN,NaN,NaN
1,09,37.0,5.0,31.0,0.0,1.0,14.0,37.0,5.0,42.0,45.0,51.0,0.627451
2,10,74.0,0.0,53.0,3.0,1.0,18.0,58.0,2.0,60.0,74.0,93.0,0.612903
3,11,52.0,0.0,72.0,1.0,0.0,0.0,38.0,1.0,39.0,59.0,93.0,0.784946
4,12,45.0,0.0,44.0,1.0,2.0,0.0,39.0,0.0,39.0,44.0,77.0,0.610390
5,13,51.0,1.0,51.0,1.0,1.0,2.0,39.0,0.0,39.0,54.0,80.0,0.662500
6,14,51.0,0.0,53.0,0.0,0.0,0.0,37.0,0.0,37.0,51.0,77.0,0.688312
7,15,41.0,0.0,57.0,0.0,2.0,0.0,21.0,0.0,21.0,49.0,73.0,0.808219
8,16,36.0,0.0,30.0,0.0,0.0,1.0,27.0,0.0,27.0,31.0,57.0,0.526316
9,17,75.0,0.0,64.0,0.0,1.0,0.0,38.0,0.0,38.0,59.0,93.0,0.698925
10,18,3.0,0.0,2.0,0.0,0.0,0.0,39.0,0.0,39.0,0.0,0.0,inf
11,Grand Total,465.0,6.0,457.0,6.0,8.0,3.0,47.0,0.0,47.0,466.0,510.0,0.923529

In [50]:
datax['% of capacity Achieved']= np.where(datax['Hour'] == 'Grand Total',(datax['local_y']+datax['oversees_y'])/(datax['local_x']+datax['oversees_x']+penlocal+penoverseas),datax['% of capacity Achieved'])
datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,% of capacity Achieved
0,Time,NaN,NaN,NaN,NaN,NaN,NaN,31,0,31,NaN,NaN,NaN
1,09,37.0,5.0,31.0,0.0,1.0,14.0,37.0,5.0,42.0,45.0,51.0,0.627451
2,10,74.0,0.0,53.0,3.0,1.0,18.0,58.0,2.0,60.0,74.0,93.0,0.612903
3,11,52.0,0.0,72.0,1.0,0.0,0.0,38.0,1.0,39.0,59.0,93.0,0.784946
4,12,45.0,0.0,44.0,1.0,2.0,0.0,39.0,0.0,39.0,44.0,77.0,0.610390
5,13,51.0,1.0,51.0,1.0,1.0,2.0,39.0,0.0,39.0,54.0,80.0,0.662500
6,14,51.0,0.0,53.0,0.0,0.0,0.0,37.0,0.0,37.0,51.0,77.0,0.688312
7,15,41.0,0.0,57.0,0.0,2.0,0.0,21.0,0.0,21.0,49.0,73.0,0.808219
8,16,36.0,0.0,30.0,0.0,0.0,1.0,27.0,0.0,27.0,31.0,57.0,0.526316
9,17,75.0,0.0,64.0,0.0,1.0,0.0,38.0,0.0,38.0,59.0,93.0,0.698925
10,18,3.0,0.0,2.0,0.0,0.0,0.0,39.0,0.0,39.0,0.0,0.0,inf
11,Grand Total,465.0,6.0,457.0,6.0,8.0,3.0,47.0,0.0,47.0,466.0,510.0,0.922311

In [51]:
# datax['% of capacity Achieved']  =datax['% of capacity Achieved'] .round(2)
datax['% of capacity Achieved'] = datax['% of capacity Achieved'].map('{:.2%}'.format)
datax['% of capacity Achieved'] = np.where (datax['Hour']== 'Time', '',datax['% of capacity Achieved'] )
datax['Capacity'] = np.where (datax['Hour']== 'Time', '',datax['Capacity'] )

datax

,Hour,local_x,oversees_x,local_y,oversees_y,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,% of capacity Achieved
0,Time,NaN,NaN,NaN,NaN,NaN,NaN,31,0,31,NaN,,
1,09,37.0,5.0,31.0,0.0,1.0,14.0,37.0,5.0,42.0,45.0,51.0,62.75%
2,10,74.0,0.0,53.0,3.0,1.0,18.0,58.0,2.0,60.0,74.0,93.0,61.29%
3,11,52.0,0.0,72.0,1.0,0.0,0.0,38.0,1.0,39.0,59.0,93.0,78.49%
4,12,45.0,0.0,44.0,1.0,2.0,0.0,39.0,0.0,39.0,44.0,77.0,61.04%
5,13,51.0,1.0,51.0,1.0,1.0,2.0,39.0,0.0,39.0,54.0,80.0,66.25%
6,14,51.0,0.0,53.0,0.0,0.0,0.0,37.0,0.0,37.0,51.0,77.0,68.83%
7,15,41.0,0.0,57.0,0.0,2.0,0.0,21.0,0.0,21.0,49.0,73.0,80.82%
8,16,36.0,0.0,30.0,0.0,0.0,1.0,27.0,0.0,27.0,31.0,57.0,52.63%
9,17,75.0,0.0,64.0,0.0,1.0,0.0,38.0,0.0,38.0,59.0,93.0,69.89%
10,18,3.0,0.0,2.0,0.0,0.0,0.0,39.0,0.0,39.0,0.0,0.0,inf%
11,Grand Total,465.0,6.0,457.0,6.0,8.0,3.0,47.0,0.0,47.0,466.0,510.0,92.23%

#### Renaming columns

In [52]:
datax = datax.rename(columns={'local_x':'Local in','oversees_x':'Overseas in','local_y':'Local out','oversees_y':'Overseas out'})
datax

,Hour,Local in,Overseas in,Local out,Overseas out,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,% of capacity Achieved
0,Time,NaN,NaN,NaN,NaN,NaN,NaN,31,0,31,NaN,,
1,09,37.0,5.0,31.0,0.0,1.0,14.0,37.0,5.0,42.0,45.0,51.0,62.75%
2,10,74.0,0.0,53.0,3.0,1.0,18.0,58.0,2.0,60.0,74.0,93.0,61.29%
3,11,52.0,0.0,72.0,1.0,0.0,0.0,38.0,1.0,39.0,59.0,93.0,78.49%
4,12,45.0,0.0,44.0,1.0,2.0,0.0,39.0,0.0,39.0,44.0,77.0,61.04%
5,13,51.0,1.0,51.0,1.0,1.0,2.0,39.0,0.0,39.0,54.0,80.0,66.25%
6,14,51.0,0.0,53.0,0.0,0.0,0.0,37.0,0.0,37.0,51.0,77.0,68.83%
7,15,41.0,0.0,57.0,0.0,2.0,0.0,21.0,0.0,21.0,49.0,73.0,80.82%
8,16,36.0,0.0,30.0,0.0,0.0,1.0,27.0,0.0,27.0,31.0,57.0,52.63%
9,17,75.0,0.0,64.0,0.0,1.0,0.0,38.0,0.0,38.0,59.0,93.0,69.89%
10,18,3.0,0.0,2.0,0.0,0.0,0.0,39.0,0.0,39.0,0.0,0.0,inf%
11,Grand Total,465.0,6.0,457.0,6.0,8.0,3.0,47.0,0.0,47.0,466.0,510.0,92.23%

In [53]:
datax['Pending local'] = np.where(datax1['Hour'] == 'Grand Total','',datax['Pending local']  )
datax['Pending Overseas'] = np.where(datax1['Hour'] == 'Grand Total','',datax['Pending Overseas']  )
datax['Total Jobs Pending in W/S'] = np.where(datax1['Hour'] == 'Grand Total','',datax['Total Jobs Pending in W/S']  )
datax['Capacity'] = np.where(datax1['Hour'] == 'Grand Total','',datax['Capacity']  )
datax['% of capacity Achieved'] = np.where(datax1['Capacity'] == 0,'',datax['% of capacity Achieved']  )
datax['Capacity'] = np.where(datax1['Capacity'] == 0,'',datax['Capacity']  )

datax

,Hour,Local in,Overseas in,Local out,Overseas out,Damage/Rejected,Pending at Final QC,Pending local,Pending Overseas,Total Jobs Pending in W/S,Maurice count,Capacity,% of capacity Achieved
0,Time,NaN,NaN,NaN,NaN,NaN,NaN,31,0,31,NaN,,
1,09,37.0,5.0,31.0,0.0,1.0,14.0,37.0,5.0,42.0,45.0,51.0,62.75%
2,10,74.0,0.0,53.0,3.0,1.0,18.0,58.0,2.0,60.0,74.0,93.0,61.29%
3,11,52.0,0.0,72.0,1.0,0.0,0.0,38.0,1.0,39.0,59.0,93.0,78.49%
4,12,45.0,0.0,44.0,1.0,2.0,0.0,39.0,0.0,39.0,44.0,77.0,61.04%
5,13,51.0,1.0,51.0,1.0,1.0,2.0,39.0,0.0,39.0,54.0,80.0,66.25%
6,14,51.0,0.0,53.0,0.0,0.0,0.0,37.0,0.0,37.0,51.0,77.0,68.83%
7,15,41.0,0.0,57.0,0.0,2.0,0.0,21.0,0.0,21.0,49.0,73.0,80.82%
8,16,36.0,0.0,30.0,0.0,0.0,1.0,27.0,0.0,27.0,31.0,57.0,52.63%
9,17,75.0,0.0,64.0,0.0,1.0,0.0,38.0,0.0,38.0,59.0,93.0,69.89%
10,18,3.0,0.0,2.0,0.0,0.0,0.0,39.0,0.0,39.0,0.0,,
11,Grand Total,465.0,6.0,457.0,6.0,8.0,3.0,,,,466.0,,92.23%

In [55]:

with pd.ExcelWriter(r"C:\Users\USER\Documents\Alex\john\notebook\notebook dara&results\workshop performance result Final.xlsx", engine='xlsxwriter') as writer:
      datax.to_excel(writer, sheet_name='Final workshop report',index=False)
      

def save_xls(list_dfs, xls_path):
    with ExcelWriter(xls_path) as writer:
        for n, df in enumerate(list_dfs):
            df.to_excel(writer,'sheet%s' % n)
        writer.save()